/* General styling */

*,
*::before,
*after {
    box-sizing: inherit;
    margin: 0;
    outline: none;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Brown;
    width: 100%;
}

ul {
    list-style: none;
}

.site-wrapper {
    margin: auto;
    padding: 0 0;
    width: 80%;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 4%;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 18px;
}

ul button {
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    padding: 6px 17px 8px 14px;
    border: solid #1f628d 1px;
    text-decoration: none;
    background-color: black;
    height: 32px;
}

.hero-container {
    display: flex;
    margin-top: 44px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    /* line-height: 20px; */
}

.hero-content h2 {
    width: 55%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 66px;
}

.hero-content h4 {
    width: 50%;
    font-family: 'Roboto';
    line-height: 17px;
    font-size: 17px;
    font-weight: 100;
    row-gap: 0;
}

.hero-content button {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    padding: 6px 17px 8px 14px;
    background-color: black;
    border: solid #1f628d 1px;
    color: #ffffff;
}

.second-section {
    margin-top: 80px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    width: 55%;
    text-align: center;
    align-items: center;
    line-height: 35px;
    margin-left: 11.375rem;
}

.refs img {
    margin-top: 54px;
}

.offers {
    margin-top: 100px;
}

.offer-one h2 {
    margin-left: 18.75rem;
    font-size: 1.875rem;
    width: 35%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 35px;
}

.sub-offers {
    display: flex;
}

/* .cta-offer {
    margin-top: 30px;
} */

.sub-offers h3 {
    width: 60%;
    font-size: 1.64rem;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 50px;
    margin-top: 130px;
}

.sub-offers h4 {
    width: 56%;
    color: #191919;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
}

.sub-offers button {
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    padding: 6px 17px 8px 14px;
    border: solid #1f628d 1px;
    text-decoration: none;
    background-color: black;
    height: 32px;
}

.offer-image img {
    display: flex;
}

.excellence {
    display: flex;
}

.we-offer {
    margin-top: 136px;
    margin-left: 32px;
}

.personel img {
    margin-right: 66px;
}

.we-offer h3 {
    font-size: 26px;
    width: 66%;
    font-weight: 700;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 44px;
}

.we-offer h4 {
    font-size: 15px;
    font-weight: lighter;
    color: #191919;
    line-height: 20px;
    font-family: 'Roboto';
    width: 17.185rem;
}

.offer-section {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.no-fees h2 {
    font-size: 30px;
    margin-left: 20rem;
    margin-top: 8.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}

.offer-images {
    display: flex;
    flex-direction: row;
    margin-left: -1.94rem;
    margin-top: 72px;
    justify-content: space-between;
}

.offer-images img {
    align-items: center;
    height: 50px;
    margin-left: 130px;
}

.offer-images h3 {
    font-size: 18px;
    margin-left: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 5px;
}

.offer-images h5 {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 100;
    width: 212px;
    margin-left: 130px;
}

.meant-for {
    display: flex;
    margin-left: 80px;
    gap: 26px;
}

.creatives h3 {
    font-size: 25px;
    width: 14.31rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 12.5rem;
}

.creatives h5 {
    font-size: 18.5px;
    width: 240px;
    font-weight: lighter;
    font-family: 'Roboto Serif';
}

.uta-container {
    background-color: #212121;
    border-radius: 2px;
    height: 186px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 72%;
    margin-top: 110px;
    margin-left: 120px;
}

.uta-content {
    align-items: center;
}

.uta-content h2 {
    font-size: 20px;
    width: 262px;
    margin-left: 236px;
    margin-top: 34px;
    text-align: center;
    line-height: 28px;
    font-weight: 900;
    font-family: 'Noto Sans Georgian';
}

.uta-content button {
    color: #000000;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 17px 8px 14px;
    border: solid #1f628d 1px;
    text-decoration: none;
    background-color: #D1EE1E;
    height: 44px;
    margin-left: 311px;
    align-items: center;
    margin-top: 4px;
    font-weight: 700;
    height: 44px;
}